<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>更多</title>
  </head>
  <body>
    <div class="containerBox">
      <header class="headerBox">
        <a href="#">
          <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo.svg" alt="" />
        </a>
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-close.svg" alt="" class="ziti">
      </header>
      <div class="bodyBox">
        <ul>
          <li><a href="./store.html">门店</a></li>
          <li><a href="#">星享俱乐部</a></li>
          <li><a href="./menu.html">菜单</a></li>
          <hr />
          <li><a href="#">星巴克移动应用</a></li>
          <li><a href="#">星礼卡</a></li>
          <li><a href="#">星巴克臻选™</a></li>
          <li><a href="#">啡快™ － 在线点 到店取</a></li>
          <li><a href="#">专星送™</a></li>
          <li><a href="#"> 咖啡星讲堂</a></li>
          <li><a href="#">上海烘焙工坊</a></li>
          <li><a href="#">关于星巴克</a></li>
          <li><a href="#">帮助中心</a></li>
          <hr />
        </ul>
      </div>
      <div class="dlu">
        <a href="#" class="dlu_one">
          <img src="	https://www.starbucks.com.cn/assets/icons/icon-account.svg" alt="" />
          <span class="dl_span">登录</span>
        </a>
        <a href="#" class="dlu_two">
            <span>注册</span>
        </a>
      </div>
      <div class="footer_box">
        <a href="#">English</a>
        <span>|</span>
        <a href="#">隐私政策</a>
        <span>|</span>
        <a href="#">使用条款</a>
      </div>
    </div>
  </body>
</html>
