<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="icon" type="image/png"
        href="https://www-static.chinacdn.starbucks.com.cn/prod/assets/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">    
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script>
    <title>星巴克 | 用每一杯咖啡传递星巴克独特的咖啡体验</title>

</head>

<body>
  <!-- <h1 class="w-[200px] text-center">HOME</h1> -->
  <!-- 头部分 -->
  <header class="headerTop w">
    <h3>心情惬意，来杯咖啡吧 ☕</h3>
</header>
<!-- 广告轮播部分 -->
<section>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_7fc4f760-6926-4eeb-9304-06581dd9a737.jpg" alt=""></div>
            <div class="swiper-slide"><img src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_b9426020-8329-432e-b95e-b3e81cb33401.jpg" alt=""></div>
            <div class="swiper-slide"><img src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_feb2427d-ca7e-42db-a34e-9ff635006ce3.png" alt=""></div>


        </div>
        <div class="swiper-button-next"></div>
        <!-- <div class="swiper-button-prev"></div> -->
    </div>
</section>
<main class="xingxuan"></main>
<main class="xingxuan1"></main>
<main class="xingxuan2"></main>
<!-- 星享俱乐部 -->
<main class="club w">
    <p class="p1">星享俱乐部</p>
    <p class="p2">开启您的星享之旅，星星越多、会员等级越高、好礼越丰富。 <a href="#">了解更多 ›</a></p>
    <p class="p3"><button>注册</button>
        <button>登录</button>
    </p>
    <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo-msr-20210601.svg" alt="">
</main>


<!-- 星巴克精选部分 -->
<section class="selected w">
    <div class="selected_top w">
        <p class="first">星巴克精选</p>
        <p class="p3">在星巴克天猫旗舰店发现更多咖啡心意</p>
    </div>
    <div class="selected_bottom w">
        <div class="card">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-card-01-update.png" alt="">
            <p class="one">会员星礼包</p>
            <p class="two">星享卡新升级<br>
                更多心意好礼
            </p>
            <a href="#">了解更多 ></a>
        </div>
        <div class="card">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-card-02.png" alt="">
            <p class="one">星礼卡</p>
            <p class="two">用一份心礼<br>
                让心意相随
            </p>
            <a href="#">了解更多 ></a>
        </div>
        <div class="card">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-eticket.png" alt="">
            <p class="one">电子产品券</p>
            <p class="two">心意<br>
                从这一杯开始
            </p>
            <a href="#">了解更多 ></a>
        </div>
        <div class="card">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-reserve.png" alt="">
            <p class="one">咖啡生活</p>
            <p class="two">星巴克<br>
                用心制作
            </p>
            <a href="#">了解更多 ></a>
        </div>
    </div>
</section>
<!-- 咖啡星讲堂 -->
<main class="hall w">
    <div class="hall_top w">
        <p class="po">1912 派克街 | 咖啡星讲堂</p>
        <p class="pt">了解更多星巴克咖啡文化</p>
    </div>
    <div class="hall_center w">

        <div #swiperRef="" class="swiper mySwiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide shit">
                    <div class="cardp">
                        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-pour-over-kv.jpg" alt="">
                        <p>咖啡的起源与培植</p>


                        
                    </div>
                </div>
                <div class="swiper-slide shit">
                    <div class="cardp">
                        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-4-fundamentals-kv.jpg" alt="">
                        <p>咖啡调制</p>
                        
                    </div>
                </div>
                <div class="swiper-slide shit">
                    <div class="cardp">
                        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-roast-story-kv.jpg" alt="">
                        <p>咖啡烘焙</p>
                    </div>
                </div>
                <div class="swiper-slide shit">
                    <div class="cardp">
                        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/coffeehouse-pour-over-kv.jpg" alt="">
                        <p>手冲咖啡</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>

    </div>
    <div class="hall_bottom w">
        <p>
             <img width="10" height="10" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/icpicon.png">
             沪公网安备 31010402000253号|沪ICP备17003747号-1
        </p>
    </div>
</main>
<div class="kong w"></div>
<footer class="footers w">
    <div>
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home-active.svg" alt="">
        <p class="f1">主页</p>
    </div>
    <div>
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg" alt="">
        <p>门店</p>
    </div>
    <div>
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg" alt="">
        <p>我的账户</p>
    </div>
    <div>
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu.svg" alt="">
        <p>菜单</p>
    </div>
    <div>
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg" alt="">
        <p>更多</p>
    </div>
</footer>

</body>

</html>